<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bankomat</title>
</head>
<body>
    <h1>Enter card number please</h1>
    <form action="#" th:action="@{/getCard}" method="post">
        <table border="1">
            <tr>
                <td><label th:text="Номер" /></td>
                <td><input type="text" th:name="number" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

</body>
</html>